# Game-SpaceInvaders

# Build and Release Folders
bin-debug/
bin-release/
temp/
dist/

# Project property files
.actionScriptProperties
.flexLibProperties
.settings/
.project

*.iml
*.ipr
*.iws
*.DS_STORE
.idea/
node_modules/
out/