dist: trusty
addons:
  chrome: stable
language: node_js
node_js:
  - stable
env:
  - CODECLIMATE_REPO_TOKEN=5a7a6bbd7d3b6bbb0119b9be01298aca39b63ac35fea9cc17a047779425a03cb
  - CODECLIMATE_API_HOST=https://codebeat.co/webhooks/code_coverage CODECLIMATE_REPO_TOKEN=b94a4b05-0483-4add-afad-0850a587872d
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - yarn config set registry "https://registry.npmjs.org"
  - yarn global add greenkeeper-lockfile@1
  - yarn global add codeclimate-test-reporter
before_script:
  - greenkeeper-lockfile-update
script:
  - yarn test
after_script:
  - greenkeeper-lockfile-upload
after_success:
  - codeclimate-test-reporter < coverage/lcov.info
