dist: trusty
addons:
  chrome: stable
language: node_js
node_js:
  - stable
env:
  - CODECLIMATE_REPO_TOKEN=1666571548ddf9e39dd28b339e61c964554ff3473b3dfb01c613fd77e32a4aa2
  - CODECLIMATE_API_HOST=https://codebeat.co/webhooks/code_coverage CODECLIMATE_REPO_TOKEN=a04b8f65-1fd0-4a28-8e37-0ea6df8c3fbb
before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - yarn config set registry "https://registry.npmjs.org"
  - yarn global add greenkeeper-lockfile@1
  - yarn global add codeclimate-test-reporter
before_script:
  - greenkeeper-lockfile-update
script:
  - yarn test
after_script:
  - greenkeeper-lockfile-upload
after_success:
  - codeclimate-test-reporter < coverage/lcov.info
